html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    display: block;
    background: #212529;
}

#board {
    display: grid;
    height: 85%;
}

#playingfield {
    display: flex;
    justify-content: center;
    height: 100%;
}

#infobox {
    display: flex;
    flex-direction: column;
}

#score {
    height: fit-content;
}

#level {
    height: fit-content;
}

#preview {
    display: grid;
    width: 25%;
}